dify/ETF_chatbot.yml
app:
  description: '저축 목표 달성 후 여윳돈으로 시작하는 ETF 입문 추천 챗봇. 지식베이스(RAG) 기반으로 초보자용 ETF를 짧게 추천.'
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: ETF_chatbot
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/cohere:0.0.16@b116712763a1ffb456565684a4406a3dd74f365d20ac19ecbaa0f62e85f1b7d4
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.3@84d4aae2c55724f6cdaecfadceed061d7e6b6693ae8945ea2dcd155f280743ef
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1780383183815-source-1780383209653-target
      source: '1780383183815'
      sourceHandle: source
      target: '1780383209653'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1780383209653-source-llm-target
      source: '1780383209653'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 시작
        type: start
        variables: []
      height: 74
      id: '1780383183815'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1780383209653'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 166664a3-2d9f-4739-8615-93c9b7259629
          role: system
          text: '당신은 ZooMoney 앱의 ETF 투자 코치입니다.

            사용자는 절약 목표를 달성하고 남은 돈으로 ETF 투자를 시작하려는 입문자입니다.


            아래 지식베이스를 참고해서 사용자 상황에 맞는 ETF를 추천하세요.


            [답변 규칙]

            - 반말, 친근한 톤 (예: "~해봐", "~거야", "~좋아!")

            - 2~3문장 이내로 짧게

            - ETF 이름 1~2개 구체적으로 언급

            - 마지막 문장에 "다만 투자는 원금 손실 가능성이 있어" 포함

            - 이모지 1~2개 사용


            [참고 지식베이스]

            {{#context#}}'
        - id: fc6d8ab3-dad7-487a-9df3-0ba853969625
          role: user
          text: '{{#sys.query#}}'
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 89
      id: llm
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: 답변
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - uAhISJVmYPM2eUdZfFpYPGSSlnNsco9k6GWH5HCa3vaZRMPJo3aUuHZOs65qKk4P
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: rerank-multilingual-v3.0
            provider: langgenius/cohere/cohere
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1780383183815'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 지식 검색
        type: knowledge-retrieval
      height: 91
      id: '1780383209653'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 156
      y: -7
      zoom: 1
  rag_pipeline_variables: []
